In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'retail_dataset.csv')

In [4]:
data.head(10)

        0       1       2       3       4       5       6
0   Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil    Wine     NaN     NaN     NaN     NaN
5    Eggs   Bread    Wine  Pencil    Milk  Diaper   Bagel
6    Wine  Pencil    Eggs  Cheese     NaN     NaN     NaN
7   Bagel   Bread    Milk  Pencil  Diaper     NaN     NaN
8   Bread  Diaper  Cheese    Milk    Wine    Eggs     NaN
9   Bagel    Wine  Diaper    Meat  Pencil    Eggs  Cheese